img{

height:300px;
border-radius:100px;





}


#numberone{

font-size:40px;
font-style:bold;
text-align:center;
background:linear-gradient(160deg, red 30%,black 40%, yellow 50%) ;
color:lightslategray;

}


#numbertwo{

margin:5px;
padding:3px;
background-color:darkkhaki;
font-size:20px;
line-height: 3;

}


.futa{

bottom:0;
position:fixed;
width:100%;
text-align:center;
background-color:azure;
color:crimson;
font-size:25px;

}